<h1>POSTS</h1>
<p><%= link_to 'Create new post', new_entry_path %></p>
<% @entries.each do |entry| %>
	<h2><%= entry.title %></h2>
	<p><%= entry.body %></p>
	<%= link_to 'Show Entry', entry_path(entry) %>
<% end %>

